body{
    margin: 0;
    padding: 0;
    background: url(3618.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

#TITULO{
    font-size: 10em;
}